<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
  <div class="container aside-xxl">
    <a style="font-size:50px; color: #53b567;"class="navbar-brand block" href="index.html">Notester</a>
    <section class="panel panel-default bg-white m-t-lg">
      <header class="panel-heading text-center">
        <strong>Sign in</strong>
      </header>
      <form action="/user" class="new_user" class="panel-body wrapper-lg" method="post">
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="email" name="user[email]" placeholder="test@example.com" class="form-control input-lg">
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" name="user[password]" id="inputPassword" placeholder="Password" class="form-control input-lg">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a href="signup.html" class="btn btn-default btn-block">Create an account</a>
      </form>
    </section>
  </div>
</section>
