<!DOCTYPE html>
  <section class="hbox stretch">
      <!-- .aside -->
      <aside class="aside-xxl b-l b-r" id="tree-list">
          <div style="width: 100%;" class="btn-group">
          <button style="width: 100%; height: 50px" class="btn btn-green dropdown-toggle" data-toggle="dropdown">My notes <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">My Notes</a></li>
              <li><a href="#">Related Notes</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
      </aside>
      <!-- /.aside -->
      <!-- .aside -->
      <aside id="note-detail">
        <script type="text/template" id="note-template">
          <section class="vbox">
            <header class="header bg-light lter bg-gradient b-b">
              <p id="social-buttons">
                  <a style="color: steelblue" href="#" class="btn-rounded btn-sm btn-icon"><i class="fa fa-circle"></i></a>
                  <a style="color: #65bd77" href="#" class="btn-rounded btn-sm btn-icon"><i class="fa fa-circle"></i></a>
                   <% if session[:user_id] %>
                      <%= link_to "Log out", '/logout', onClick: "logOut()", id: 'logOutLink', method: :post %>
                   <% end %>
              </p>
              <span id="note-title">Note Title</span>
              <span class="pull-right">
                <% if session[:user_id] == nil %>
                    <p>Hello <strong  style="color: red;" id="user-username"></strong>!</p>
                <% else %>
                    <% user = User.find(session[:user_id]) %>
                    <p> Hello  <strong><span style="color: #65bd77;" id="user-username"></span></strong>!</p>
                <% end %>
                <p id="note-date" > </p>
              <span>
            </header>
            <section class="bg-light lter">
              <section class="hbox stretch">
                <aside>
                  <section class="vbox b-b">
                    <section class="paper">
                        <textarea type="text" id="note-text-area" class="form-control scrollable" placeholder="Type your note here"></textarea>
                    </section>
                  </section>
                </aside>
              </section>
            </section>
          </section>
        </script>
      </aside>
      <!-- /.aside -->
      <!-- .aside -->
      <aside class="aside-xl b-l b-r" id="note-list">
        <section class="vbox flex">
         <header class="header clearfix" style="text-align: right">
            <span class="pull-left m-t"><button class="btn btn-green btn-sm btn-icon" id="new-note" data-toggle="tooltip" data-placement="left" title="New"><i class="fa fa-plus"></i></button></span>
              <span style="margin-left: 2%"class="pull-left m-t"><button class="btn btn-green btn-sm btn-icon" id="save-note" data-toggle="tooltip" data-placement="right" title="Save"><i class="fa fa-save"></i></button></span>
            <p id="notester-header" class="h1">Notester</p>
            <div class="input-group m-t-sm m-b-sm">
              <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control input-sm" id="search-note" placeholder="search">
            </div>
          </header>
          <section id="treeholder">
            <section>
              <section>
                <div class="padder">
                  <!-- note list -->
                  <ul id="note-items" class="list-group list-group-sp"></ul>
                    <!-- templates -->
                    <script type="text/template" id="item-template">
                      <div class="view">
                        <button class="destroy close hover-action">&times;</button>
                        <div class="note-name">
                          <strong>
                            note title
                          </strong>
                        </div>
                        <div class="note-desc">
                          description
                        </div>
                        <span class="text-xs text-muted"></span>
                      </div>
                    </script>
                    <!-- / template  -->
                  <!-- note list -->
                  <p class="text-center">&nbsp;</p>
                </div>
              </section>
            </section>
          </section>
        </section>
      </aside>
      <!-- /.aside -->
</section>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
