<title>NoteSter</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/bootstrap/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap/font.css" type="text/css" />

  <link rel="stylesheet" href="css/bootstrap/app.css" type="text/css" />
<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%#= @cat.name%>
<%# Resource.all.each do |note|%>
  <h1 style="text-align:center"><%#= note.title%></h1>
  <h3><%#= note.description%></h3>
  <p>created by: <%#= note.user.username%>
<%# end%> -->
  <section id="content">
      <section class="hbox stretch">
          <!-- .aside -->
          <aside class="aside-xl b-l b-r" id="note-list">
            <section class="vbox flex">
              <header class="header clearfix">
                <span class="pull-right m-t"><button class="btn btn-dark btn-sm btn-icon" id="new-note" data-toggle="tooltip" data-placement="right" title="New"><i class="fa fa-plus"></i></button></span>
                <p class="h3">Notester</p>
                <div class="input-group m-t-sm m-b-sm">
                  <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control input-sm" id="search-note" placeholder="search">
                </div>
              </header>
              <section>
                <section>
                  <section>
                    <div class="padder">
                      <!-- note list -->
                      <ul id="note-items" class="list-group list-group-sp"></ul>
                        <!-- templates -->
                        <script type="text/template" id="item-template">
                          <div class="view" id="note-< id %>">
                            <button class="destroy close hover-action">&times;</button>
                            <div class="note-name">
                              <strong>
                              New Note
                              </strong>
                            </div>
                            <div class="note-desc">
                              <%= @note.description%>
                            </div>
                            <span class="text-xs text-muted"></span>
                          </div>
                        </script>
                        <!-- / template  -->
                      <!-- note list -->
                      <p class="text-center">&nbsp;</p>
                    </div>
                  </section>
                </section>
              </section>
            </section>
          </aside>
          <!-- /.aside -->
          <aside id="note-detail">
            <script type="text/template" id="note-template">
              <section class="vbox">
                <header class="header bg-light lter bg-gradient b-b">
                  <p id="note-date">Created on <p>created by: <%= @note.user.username%> %></p>
                </header>
                <section class="bg-light lter">
                  <section class="hbox stretch">
                    <aside>
                      <section class="vbox b-b">
                        <section class="paper">
                            <textarea type="text" class="form-control scrollable" placeholder="Type your note here"><% @note.description %></textarea>
                        </section>
                      </section>
                    </aside>
                  </section>
                </section>
              </section>
            </script>
          </aside>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen, open" data-target="#nav,html"></a>
    </section>
    <aside class="bg-light lter b-l aside-md hide" id="notes">
      <div class="wrapper">Notification</div>
    </aside>
  </section>
</section>

<script src="/javascripts/bootstrap/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/javascripts/bootstrap/bootstrap.js"></script>
  <!-- App -->
  <script src="/javascripts/bootstrap/app.js"></script>
  <script src="/javascripts/bootstrap/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/javascripts/bootstrap/libs/underscore-min.js"></script>
<script src="/javascripts/bootstrap/libs/backbone-min.js"></script>
<script src="/javascripts/bootstrap/libs/backbone.localStorage-min.js"></script>
<script src="/javascripts/bootstrap/libs/moment.min.js"></script>
<!-- Notes -->
<script src="/javascripts/bootstrap/apps/notes.js"></script>
  <script src="/javascripts/bootstrap/app.plugin.js"></script>
