<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>

<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%#= @cat.name%>
<%# Resource.all.each do |note|%>
  <h1 style="text-align:center"><%#= note.title%></h1>
  <h3><%#= note.description%></h3>
  <p>created by: <%#= note.user.username%>
<%# end%> -->
<script type="text/javascript">
var w = 500;
var h = 100;

var svg = d3.select("body")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

svg.selectAll("rect")
   .data(dataset)
   .enter()
   .append("rect")
   .attr("x", 0)
   .attr("y", 0)
   .attr("width", 20)
   .attr("height", 100);
</script>
